.navbar {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
  padding: 0 30px;

  &__logo {
    display: flex;
    align-items: center;

    .logo {
    max-width: 320px;
    }
  }
  
  &__menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      gap: 40px;
      padding: 0;

      li {
        list-style: none;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
      }
    }
  }
}