.home {
  &__overlay,
  &__header-text {
    width: 100vw;
    height: calc(100vh - 155px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__overlay {
    background: url(../../assets/main_image.jpeg);
    background-size: cover;
  }

  &__header-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    
    h1 {
      font-family: 'Rubik', sans-serif;
      font-size: 48px;
      margin-bottom: 50px;
    }

    button {
      font-family: 'Roboto', sans-serif;
      border: none;
      padding: 15px 25px;
      background-color: #BE2C2C;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
    }
  }

  .our-programs {
    header {
      background-color: black;

    h1 {
      color: white;
      padding: 60px 20px;
      font-family: 'Rubik', sans-serif;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 7px;
    }
  }
  
  &__card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    text-align: center;
    margin: 60px 0;
    padding: 0 20px;

    .program-card {
      width: 300px;
      background-color: #F5F5F5;
      padding: 20px;
      display: flex;
      flex-direction: column;
      height: 560px;

      h2 {
        font-family: 'Rubik', sans-serif;
        margin: 20px 0;
      }

      img {
        width: 100%;
        border-radius: 10px;
      }

      section{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
          line-height: 24px;
        }

        button {
          border: none;
          padding: 15px 25px;
          background-color: #3751DC;
          color: white;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 5px;
          font-size: 12px;
        }
      }

    }
  }
}
}
